@use "variables";

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-btn {
    @extend .btn;

    &:hover {
        background-color: variables.$btn-hover-clr;
    }
}

.profile-image {
    width: 6em;
}

.follow-icon {
    width: 1.25em;
}

.post-userimage {
    width: 2em;
}

.post-icon {
    width: 1.25em;
    padding: 0;
    margin: 0 1em;
}

.post-icon:hover {
    cursor: pointer;
    background-color: aqua;
}

.divider {
    border-left: 1px solid;
    height: 2em;
}